<mat-sidenav-container autosize>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        @if (account?.data?.role != null) {
          <button mat-flat-button (click)="gotoApp()">Open Project</button>
        } @else {
          <!-- <button mat-flat-button (click)="newSession()">New Project</button> -->
        }
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div>Welcome</div>
</mat-sidenav-container>

<!-- <mat-toolbar class="root-menu">
  <mat-toolbar-row>
    @if (account?.data?.role != null) {
      <button mat-flat-button (click)="gotoApp()">Open Project</button>
    } @else {
      <button mat-flat-button (click)="newSession()">New Project</button>
    }
  </mat-toolbar-row>
</mat-toolbar>
<p>Welcome</p> -->
