:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header, .footer {
    display: flex;
    flex-direction: row;
    .title {
        padding: 8px 0 0 8px;
    }
    .flex-grow-1-text-align-right {
        flex-grow: 1;
        text-align: right;

        button:last-child {
            margin: 1px;
        }
    }
}
