<app-entity-selector [config]="getConfig()" (add)="onAdd()" (refresh)="onRefresh()">
    <div class="table">
        <table>
            <thead class="border-bottom">
                <tr>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @for (person of persons; track person.id) {
                <tr (click)="setSelectedPerson(person.id)" [class.active]="isActive(person.id)">
                    <td>{{person.id}} </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</app-entity-selector>
<dialog class="dialog-central" #dialogPersonNew>
    <app-person-view class="view" [config]="getNewPersonDialodConfig()" [projectId]="projectId"  [dialogRef]="dialogPersonNew"></app-person-view>
</dialog>