<div class="selector">
    <div class="toolbar">
        <button class="icon-button" (click)="openDialog(dialogProjectNew)">
            <img class="icon" src="./assets/icons/icons8-plus-math-16.png" />
        </button>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @for (project of projects; track project.id) {
                <tr (click)="setProject(project)">
                    <td>{{ project.title }}</td>
                </tr>
                }
            </tbody>
        </table>

    </div>
    <!-- <div class="selector">selector</div> -->
</div>
<app-project class="view" [project]="project" [viewMode]="ViewMode.EDIT"></app-project>
<!-- [viewMode]="ViewMode.EDIT" -->
<!-- <div class="project-view">
    <div class="toolbar">toolbar</div>
    <div class="view">view</div>
</div> -->

<dialog class="dialog-central" #dialogProjectNew>
    <app-project class="view" [viewMode]="ViewMode.CREATE" [dialogRef]="dialogProjectNew"></app-project>
    <!-- [viewMode]="ViewMode.CREATE" -->
</dialog>