<mat-toolbar class="entity-toolbar">
    <button mat-icon-button (click)="openAddProjectDialog()">
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>
<mat-divider></mat-divider>
<table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"(click)="selectProject(row)"> </tr>
  </table>
@if (projectObj != undefined) {
  <app-project-presentation-edit [projectObj]="projectObj"></app-project-presentation-edit>
}  

