<div class="app">
    <div class="app-header">
        <div class="app-header-logo">
            <a [routerLink]="['/', 'gna']">gen-net-app</a>
        </div>
        <div class="app-header-account-menu">
            @if (account?.roleType == accountRoleType.RoleUser) {
            <select name="selectAccountMenu" (change)="onAccountMenuChange($event)">
                <option value="default" disabled selected>{{account?.username}}</option>
                <option value="signOut">Logout</option>
            </select>
            } @else {
            <button (click)="openDialog(dialogSignIn)">Login</button>
            }
        </div>
    </div>
    <div class="app-wrapper">
        <div class="app-wrapper-menu">
            <ul>
                @if (projects.length > 0) {
                <li>
                    <a [routerLink]="['/', 'gna', 'projects']" routerLinkActive="active">Projects</a>
                </li>
                <li>
                    <select name="selectCurrentProject" (change)="onSelectProject($event)">
                        @for (item of projects; track item.id) {
                            <option [value]="item.id" [selected]="item.id == projectId">{{item.title}}</option>
                        }
                    </select>
                </li>
                } @else {
                <li>
                    <a>Projects</a>
                    <button class="icon-button" (click)="onAddProject()">
                        <img class="icon" src="./assets/icons/icons8-plus-math-16.png" />
                    </button>
                </li>
                }
                @if (projectId) {
                    @for (item of projectMenu; track item.id) {
                    <li><a [routerLink]="item.routerLink" routerLinkActive="active">{{item.title }}</a></li>
                    }
                }
            </ul>
        </div>
        <div class="app-wrapper-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<dialog class="dialog-sign" #dialogSignIn>
    <form [formGroup]="signInForm">
        <div class="header">
            <h3>Login</h3>
        </div>
        <div class="content">
            <formly-form [form]="signInForm" [fields]="signInFields" [options]="signInOptions"
                [model]="signInModel"></formly-form>
        </div>
        <div class="footer">
            <div>
                <a (click)="switchDialog(dialogSignIn, dialogSignUp)">or Register</a>
            </div>
            <div>
                <button (click)="onSignInFormSubmit()">Ok</button>
                <button (click)="closeDialog(dialogSignIn)">Cancel</button>
            </div>
        </div>
    </form>
</dialog>
<dialog class="dialog-sign" #dialogSignUp>
    <form [formGroup]="signUpForm">
        <div class="header">
            <h3>Registration</h3>
        </div>
        <div class="content">
            <formly-form [form]="signUpForm" [fields]="signUpFields" [options]="signUpOptions"
                [model]="signUpModel"></formly-form>
        </div>
        <div class="footer">
            <div>
                <a (click)="switchDialog(dialogSignUp, dialogSignIn)">or Login</a>
            </div>
            <div>
                <button (click)="onSignUpFormSubmit()">Ok</button>
                <button (click)="closeDialog(dialogSignUp)">Cancel</button>
            </div>
        </div>
    </form>
</dialog>
<dialog class="dialog-central" #dialogProjectNew>
    <app-project-view class="view" 
        [config]="projectCreateViewConfig"
        [dialogRef]="dialogProjectNew"
        (onAddEmitted)="onAddEmitted()"
        ></app-project-view>
</dialog>
<div class="app-alert" [style.visibility]="!errorMessage? 'hidden': 'visible'">
    <p>{{errorMessage}}</p>
</div>

<dialog class="dialog-spinner" #dialogSpinner>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.2)" size="default" color="#fff" type="ball-8bits"
        [fullScreen]="true"></ngx-spinner>
</dialog>