:host { 
    height: 100%; 
    mat-sidenav-container { 
        height: 100%; 
        width: auto;
    }
    mat-sidenav {
        min-width: 150px;
    }
}

.list-item-projects {
    display: flex;
    .projects-link {
        padding-right: 60px;
        .projects-label {
            font-size: 12px;
            line-height: 16px;
            font-weight: 300;
            margin: 0px;
        }
        .project-title {
            margin: 0px;
        }
    }
    .project-selector {
        position: absolute;
        right: 0px;
    }
}

:host ::ng-deep .projects-mat-menu {
    background-color: aqua !important;
}

::ng-deep .projects-mat-menu .mat-mdc-menu-item .mat-icon {
    order: 2;
    margin-left: var(--mat-menu-item-spacing);
    margin-right: 0px;
}

