<mat-sidenav-container autosize>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      @if (projects?.isLoading == true) {
          <a mat-list-item disabled>Loading...</a>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      } @else if (projects == undefined || projects.data == undefined || projects.data.length <= 0) {
          <a mat-list-item  (click)="openAddProjectDialog()">Create project</a>
      } @else {
        <div class="list-item-projects">
          <a class="projects-link" mat-list-item routerLink="./projects">
            <div>
              <p class="projects-label">Project</p>
              <p class="project-title">{{getProjectTitle()}}</p>
            </div>
          </a>
          <button mat-icon-button class="project-selector" [matMenuTriggerFor]="projectsMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu class="projects-mat-menu" #projectsMenu="matMenu">
            @for (p of projects.data; track p.id) {
              <button mat-menu-item (click)="onClickProjectMenuItem(p)">
                <span>{{ p.title }}</span>
                @if (project?.id == p.id) {
                  <mat-icon>check</mat-icon>
                }
              </button>
            }
          </mat-menu>
        </div>
        <a mat-list-item routerLink="./persons">Persons</a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
