@if (dialogRef == undefined) {
    <mat-toolbar class="entity-toolbar">
        <button mat-icon-button (click)="deleteProject()"><mat-icon color="warn">remove</mat-icon></button>    
        <mat-divider vertical style="height: 100%"></mat-divider>
        <button mat-icon-button (click)="putProject()"><mat-icon>save</mat-icon></button>
        <button mat-icon-button (click)="setAppProject(project)"><mat-icon>publish</mat-icon></button>    
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" [class.visibilityHidden]="serviceProject?.isLoading != true"></mat-progress-bar>
} @else {
    <h2 mat-dialog-title>{{(project.id.length) ? 'Edit' : 'Create'}} project</h2>
}
<mat-divider></mat-divider>
<form [formGroup]="projectForm">
    <mat-dialog-content>
        <mat-form-field class="cdk-visually-hidden">
            <mat-label>Id</mat-label>
            <input matInput formControlName="id"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title"/>
        </mat-form-field>
    </mat-dialog-content>    
</form>

@if (dialogRef != undefined) {
    @if (errorMessage != undefined) {
        <mat-divider></mat-divider>
        <button mat-button color="warn">{{errorMessage}}</button>
        <mat-divider></mat-divider>
    }    
    <mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="postProject()">Ok</button>
        <button mat-button mat-dialog-close (click)="closeDialog()" cdkFocusInitial>Cancel</button>
    </mat-dialog-actions>  
    <mat-progress-bar mode="indeterminate" [class.visibilityHidden]="serviceProject?.isLoading != true"></mat-progress-bar>
}
