<div class="selector">
    <div class="toolbar">
        <button class="icon-button" (click)="openDialog(dialogPersonNew)">
            <img class="icon" src="./assets/icons/icons8-plus-math-16.png" />
        </button>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @for (person of persons; track person.id) {
                <tr (click)="setPerson(person)">
                    <td>{{ person.title }}</td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>
@if (person) {
    <app-person-view class="view" [person]="person" [viewMode]="ViewMode.EDIT"></app-person-view>
}

<dialog class="dialog-central" #dialogPersonNew>
    <app-person-view class="view" [viewMode]="ViewMode.CREATE" [dialogRef]="dialogPersonNew"></app-person-view>
</dialog>