// :host {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
// }

// .toolbar {
//     // border-bottom: 1px solid lightgray;
//     border-top: 1px solid lightgray;
// }
// .body {
//     padding: 8px;
// }
