.header,
.footer {
    padding: 1px;
    display: flex;
    flex-direction: row;

    div button {
        margin: 1px;
    }
    .flex-grow-1-text-align-right {
        flex-grow: 1;
        text-align: right;
    }
}

.title { font-size: 14px; margin: auto auto 4px 4px;}

.body {
    padding: 8px;
}