@if (dialogRef) {
<app-base-view-dialog-layout
    [title]="getDialogTitle()"
    (ok)="onOk()"
    (close)="onClose()"
    (cancel)="onClose()"
    >
    <div class="body">
        <formly-form [form]="form" [fields]="fields" [options]="options" [model]="model"></formly-form>
    </div>
</app-base-view-dialog-layout>
} @else {
<app-base-view-page-layout
    (delete)="onDelete()"
    (save)="onSave()"
    >
    <div class="body">
        <formly-form [form]="form" [fields]="fields" [options]="options" [model]="model"></formly-form>
    </div>
</app-base-view-page-layout>
}
