.toolbar {
    display: flex;
    flex-direction: row;
    height: 28px;

    .title {
        width: 100px;
        font-size: 14px;
        margin: auto 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .menu {
        margin: auto 8px;
    }
    ul {
        display: flex;
        flex-direction: row;
        //   flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            padding-right: 8px;
        }
    }

    // div button {
    //     margin: 1px;
    // }
}
