/* You can add global styles to this file, and also import other style files */

button {
    min-width: 60px;
}

div button:not(:first-child) {
    // margin-left: 1px;
}

.is-loading-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.icon-button {
    min-width: 0;
    width: 28px;
    height: 24px;
    cursor: pointer;
    margin-left: 1px;
    padding: 1px 0 0 1px;
}

.dialog-central {
    border: 1px solid black !important;
    padding: 0;
    max-height: none;
    max-width: none;
}

.border-top {
    border-top: 1px solid lightgray;
}

.border-bottom {
    border-bottom: 1px solid lightgray;
}

a.active {
    background-color: #99d1ff;
}

a:hover {
    background-color: #e3f2ff;
}

.padding-8 {
    padding: 8px;
}