<app-entity-selector [config]="getConfig()" (add)="onAdd()" (refresh)="onRefresh()">
    <div class="table">
        <table>
            <thead class="border-bottom">
                <tr>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @for (project of projects; track project.id) {
                <tr (click)="setSelectedProjectId(project.id)" [class.active]="isActive(project.id)">
                    <td>{{project.title}} </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</app-entity-selector>
<dialog class="dialog-central" #dialogProjectNew>
    <app-project-view class="view" [config]="getNewProjectDialodConfig()" [dialogRef]="dialogProjectNew"></app-project-view>
</dialog>