<app-entity-selector class="selector" [config]="getConfig()" (add)="onAdd()" (refresh)="onRefresh()">
    <div class="table">
        <table>
            <thead class="border-bottom">
                <tr>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @for (project of projects; track project.id) {
                <tr (click)="setSelectedProjectId(project.id)" [class.active]="project.id == projectId">
                    <td>{{project.title}} </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</app-entity-selector>
@if (config.entity_view && projectId) {
<app-project-view class="view" [projectId]="projectId"></app-project-view>
}
<dialog class="dialog-central" #dialogProjectNew>
    <app-project-view class="view" 
        [config]="projectCreateViewConfig"
        [dialogRef]="dialogProjectNew"
        ></app-project-view>
</dialog>